:root {
    --bottone-blu: #47adf1;
    --botttone-viola: #9d73e4;
    --bottone-verde: #64c0a9;
    --bottone-arancio: #f29e33;
    --bottone-rosa: #d863a1;
    --bottone-lime: #b0c926;
    --icona-rossa: #ef8682;
    --icona-verde: #8ed3c5;
    --colore-body: #f6f8f9;
    --colore-header: #ffffff;
    --colore-main: #ffffff;
    --colore-testo: #444851;
    --colore-logo: #000000;

}



body {
    margin: 0;
    font-family: Arial;
    font-family: sans-serif;
    background-color: #f6f8f9;
    color: #444851;


}


.logo {
    height: 70px;
    vertical-align: middle;

}

.logotipo {
    vertical-align: middle;
    color: var(--colore-logo);
    font-size: 70px;
    border-radius: 50%;
    margin-left: 10px;


}

.contenitore {
    margin: auto;
    width: 80;
}

/*fine header*/

/*main contenitore*/

.quadrato_contenitore {
    background-color: #ffffff;
    margin-left: 20px;


}

.batton {
    background-color: var(--bottone-blu);
    border: #000000 1px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 10%;
    padding: 3px;
    width: 70px;
    height: 30px;
    display: inline-block;
    margin: 20px 1px 5px 60px;

}

.batton2 {
    background-color: #ffffff;
    color: #dfe3e5;
    border-color: #dfe3e5;
    font-size: 12px;
    border-radius: 10%;
    padding: 1px;
    width: 90px;
    height: 30px;
    display: inline-block;
    margin: 20px 0px 5px 1px;

}

/*fine main contenitore*/

/*inizio New Task*/

.quadrato_contenitore2 {
    background-color: #ffffff;
    margin-left: 20px;
}

.spazi {

    font-size: 18px;
    font-weight: bold;
    color: var(--colore-testo);
}

.task {
    padding-top: 10px;
    font-size: 15px;
}

.check {
    background-color: #ffffff;
    color: #64c0a9;
    border-color: #64c0a9;
    font-size: 12px;
    border-radius: 50%;
    display: inline-block;

}

.battonblu {
    background-color: var(--bottone-blu);
    border: #000000 1px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 40%;
    margin-left: 3px;
    padding: 1px;
    width: 90px;
    height: 40px;
    display: inline-block;

}

/*fine new task*/

/*inizio Today*/

.quadrato_contenitore3 {
    background-color: #ffffff;
    margin-left: 20px;
}

.spazi {

    font-size: 18px;
    font-weight: bold;
    color: var(--colore-testo);
    margin-left: 60px;
}

.task {
    padding-top: 10px;
    font-size: 15px;
}

.check {
    background-color: #ffffff;
    color: #64c0a9;
    border-color: #64c0a9;
    font-size: 12px;
    border-radius: 50%;
    display: inline-block;

}
.cross {
    background-color: #ffffff;
    color: var(--icona-rossa);
    border-color: 1px --icona-rossa;
    font-size: 12px;
    border-radius: 50%;
    display: inline-block;

}
.battonviola {
    background-color: #9d73e4;
    border: 1px #9d73e4;
    color: #ffffff;
    font-size: 12px;
    border-radius: 40%;
    margin-left: 3px;
    padding: 1px;
    width: 90px;
    height: 40px;
    display: inline-block;

}
.battonverde {
    background-color: #64c0a9;
    border: 1px #64c0a9;
    color: #ffffff;
    font-size: 12px;
    border-radius: 40%;
    margin-left: 3px;
    padding: 1px;
    width: 90px;
    height: 40px;
    display: inline-block;

}
.battonverde {
    background-color: #64c0a9;
    border: 1px #64c0a9;
    color: #ffffff;
    font-size: 12px;
    border-radius: 40%;
    margin-left: 3px;
    padding: 1px;
    width: 90px;
    height: 40px;
    display: inline-block;

}
.battonarancio {
    background-color: #f29e33;
    border: 1px #f29e33;
    color: #ffffff;
    font-size: 12px;
    border-radius: 40%;
    margin-left: 3px;
    padding: 1px;
    width: 90px;
    height: 40px;
    display: inline-block;

}
/*fine Today*/

/*inizio Upcoming*/

.quadrato_contenitore3 {
    width: 80%;
    background-color: #ffffff;
    margin: 0px 20px 0px 20px;
}

.spazi {

    font-size: 18px;
    font-weight: bold;
    color: var(--colore-testo);
}

.task {
    padding-top: 10px;
    font-size: 15px;
}

.check {
    background-color: #ffffff;
    color: #64c0a9;
    border-color: #64c0a9;
    font-size: 12px;
    border-radius: 50%;
    display: inline-block;

}
.cross {
    background-color: #ffffff;
    color: var(--icona-rossa);
    border-color: 1px --icona-rossa;
    font-size: 12px;
    border-radius: 50%;
    display: inline-block;

}
.battonrosa {
    background-color: #d863a1;
    border: 1px #d863a1;
    color: #ffffff;
    font-size: 12px;
    border-radius: 40%;
    margin-left: 3px;
    padding: 1px;
    width: 90px;
    height: 40px;
    display: inline-block;

}
.battonlime {
    background-color: #b0c926;
    border: 1px #b0c926;
    color: #ffffff;
    font-size: 12px;
    border-radius: 40%;
    margin-left: 3px;
    padding: 1px;
    width: 90px;
    height: 40px;
    display: inline-block;

}
