:root {
    --bottone-blu: #47adf1;
    --botttone-viola: #9d73e4;
    --bottone-verde: #64c0a9;
    --bottone-arancio: #f29e33;
    --bottone-rosa: #d863a1;
    --bottone-lime: #b0c926;
    --icona-rossa: #ef8682;
    --icona-verde: #8ed3c5;
    --colore-body: #f6f8f9;
    --colore-header: #ffffff;
    --colore-main: #ffffff;
    --colore-testo: #444851;
    --colore-logo: #000000;

}



body {
    margin: 0;
    background-color: var(--colore-body);


}

header {
    background-color: var(--colore-header);
    padding: 1rem 2rem;



}

.logo {
    height: 70px;
    vertical-align: middle;

}

.logotipo {
    vertical-align: middle;
    color: var(--colore-logo);
    font-size: 70px;
    border-radius: 50%;
}

.contenitore {
    margin: auto;
    width: 80;
}



.quadrato_contenitore{
    width: 80%;
    background-color: #ffffff;
    margin: 60px 100px;

}

.batton{
    background-color: var(--bottone-blu);
    border: #000000 1px;
    color: #ffffff;
    font-size: 11px;
    border-radius: 10%;
    width: 70px;
    height: 30px;
    margin: 20px 20px 20px 20px;
}

.batton2 {
    background-color: var(--bottone-blu);
    border: #000000 1px;
    color: #ffffff;
    font-size: 11px;
    border-radius: 10%;
    width: 70px;
    height: 30px;
    margin: 20px 20px 20px 20px;
}